body
{
  background-color: black;
}
#title
{
  color: white;
  font-size: 4em;
  text-align: center;
}
#container
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 99%;
  background-color: black;
}
.colL
{
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 100%;
}
.colM
{
  position: relative;
  display: inline-block;
  width: 2vw;
  height: 100%;
}
.colS
{
  position: relative;
  display: inline-block;
  width: 1vw;
  height: 100%;
}
.wallL
{
  background-color: black;
  width: 100%;
  height: 4vw;
}
.wallM
{
  background-color: black;
  width: 100%;
  height: 2vw;
}
.wallS
{
  background-color: black;
  width: 100%;
  height: 1vw;
}
#menu
{
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 25%;
  left: 25%;
  text-align: center;
  background-color: black;
  border: 3px solid white;
}
button
{
  font-size: 3em;
  background-color: black;
  border: 3px solid white;
  color: white;
}
.dataLabel
{
  /*display: inline-block;*/
  font-size: 3em;
  /*background-color: black;*/
  /*border: 3px solid white;*/
  color: white;
}
.data
{
  color: #ffff00;
}
#difficulty
{
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
}
#difficulty button
{
  display: inline-block;
  margin: 1%;
}
#difficulty div
{
  display: inline-block;
  margin: 1%;
}
#easy
{
  color: #006600;
  border: 3px solid #006600;
}
#medium
{
  color: #666600;
  border: 3px solid #666600;
}
#hard
{
  color: #660000;
  border: 3px solid #660000;
}
#easy:hover
{
  color: #00ff00 !important;
  border: 3px solid #00ff00 !important;
}
#medium:hover
{
  color: #ffff00 !important;
  border: 3px solid #ffff00 !important;
}
#hard:hover
{
  color: #ff0000 !important;
  border: 3px solid #ff0000 !important;
}
#play
{
  position: relative;
  color: #00cccc;
  border: 3px solid #00cccc;
}
#play:hover
{
  position: relative;
  color: #66ffff;
  border: 3px solid #66ffff;
}
@media only screen and (max-device-width: 480px)
{
  #menu
  {
    /*position: absolute;*/
    /*top: 10vh;*/
    left: 0%;
    width: 90vw;
    height: 70vh;
    text-align: center;
  }
}
