body
{
  background-color: black;
}
#title
{
  color: white;
  font-size: 4em;
  text-align: center;
}
#container
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 99%;
  background-color: black;
  text-align: center;
}
.colL
{
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 100%;
}
.colM
{
  position: relative;
  display: inline-block;
  width: 2vw;
  height: 100%;
}
.colS
{
  position: relative;
  display: inline-block;
  width: 1vw;
  height: 100%;
}
.wallL
{
  background-color: black;
  width: 100%;
  height: 4vw;
}
.wallM
{
  background-color: black;
  width: 100%;
  height: 2vw;
}
.wallS
{
  background-color: black;
  width: 100%;
  height: 1vw;
}
#timeDiv
{
  position: absolute;
  bottom: 0%;
  left: 1%;
  text-align: left;
}
#movesDiv
{
  position: absolute;
  bottom: 0%;
  right: 2%;
  text-align: left;
}
.timeMoves
{
  color: #ffff00;
  font-size: 2em;
  font-weight: bold;
  /*background-color: black;*/
}
#arrowDiv
{
  color: #ffff00;
  position: absolute;
  bottom: 0%;
  left: 45%;
  z-index: 10;
}
.arrows
{
  display: inline-block;
  font-size: 3em;
}
.arrows:hover
{
  cursor: pointer;
}
#up
{
  display: block;
}
#down
{
  display: block;
}
#menu
{
  position: absolute;
  width: 50vw;
  /*height: 50vh;*/
  top: 25%;
  left: 25%;
  text-align: center;
  background-color: black;
  z-index: 100;
}
button
{
  font-size: 3em;
  background-color: black;
  border: 3px solid white;
  color: white;
}
select
{
  font-size: 2em;
  background-color: black;
  border: 3px solid white;
  color: white;
}
.dataLabel
{
  font-size: 3em;
  color: white;
}
.data
{
  color: #ffff00;
}
#startingNumbers
{
  /*background-color: black;*/
  /*color: white;*/
  width: 50vw;
  font-size: 20em;
  position: absolute;
  top: 25%;
  left: 25vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
}
#success
{
  font-size: 4em;
  color: #ffff00;
  padding-bottom: 5%;
}
#endData
{
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
}
#endData button
{
  display: inline-block;
  margin: 1%;
}
#difficulty
{
  padding-bottom: 10%;
  position: relative;
}
#difficulty button
{
  display: inline-block;
  margin: 1%;
}
#dropDowns
{
  padding-bottom: 10%;
}
#dropDowns select
{
  display: inline-block;
  margin: 1%;
  position: relative;
}
#color, #speed
{
}
#color, #speed:hover
{
  cursor: pointer;
}
#text
{
  font-size: 2em;
  color: white;
}
#instructions
{
  padding-top: 5%;
  font-size: 1.5em;
  color: white;
}
#yesNo
{
  position: relative;
}
#yesNo button
{
  display: inline-block;
  margin: 1%;
}
#yes
{
  color: #fa8072;
  border: 3px solid #fa8072;
}
#yes:hover
{
  color: #fdd3ce;
  border: 3px solid #fdd3ce;
}
#no
{
  color: #00cccc;
  border: 3px solid #00cccc;
}
#no:hover
{
  color: #66ffff;
  border: 3px solid #66ffff;
}
#endless
{
  color: #cc00cc;
  border: 3px solid #cc00cc;
}
#endless:hover
{
  color: #ff66ff;
  border: 3px solid #ff66ff;
}
#easy
{
  color: #006600;
  border: 3px solid #006600;
}
#easy:hover
{
  color: #00ff00 !important;
  border: 3px solid #00ff00 !important;
}
#medium
{
  color: #ffff00;
  border: 3px solid #ffff00;
}
#medium:hover
{
  color: #ffff00 !important;
  border: 3px solid #ffff00 !important;
}
#hard
{
  color: #660000;
  border: 3px solid #660000;
}
#hard:hover
{
  color: #ff0000 !important;
  border: 3px solid #ff0000 !important;
}
#play
{
  position: relative;
  color: #00cccc;
  border: 3px solid #00cccc;
  margin-bottom: 10%;
}
#play:hover
{
  position: relative;
  color: #66ffff;
  border: 3px solid #66ffff;
}
@media only screen and (max-device-width: 480px)
{
  #menu
  {
    left: 0%;
    width: 100vw;
    height: 70vh;
    text-align: center;
  }
  #arrowDiv
  {
    color: #ffff00;
    position: absolute;
    bottom: 0%;
    left: 30%;
    z-index: 10;
  }
  #startingNumbers
  {
    font-size: 10em;
  }
}
